<div class="page-header">
<h1>Please Enter your information</h1>
</div>

<form name ="checkOutForm.checkOutFormTable" ng-submit="checkOutForm.checkOutForm(newData);" novalidate>
	<!-- First Name -->
	<div ng-class="{'has-success': (checkOutForm.checkOutFormTable.firstName.$valid && !checkOutForm.checkOutFormTable.firstName.$pristine),'has-error':((!checkOutForm.checkOutFormTable.firstName.$valid && !checkOutForm.checkOutFormTable.firstName.$pristine) || ((!checkOutForm.checkOutFormTable.firstName.$valid)&& checkOutForm.checkOutFormTable.$submitted)) }">
		<label>First Name:</label>
		<input class = "form-control" type = "text" name = "firstName" placeholder="please enter first name" ng-model="newData.newFirstName" ng-pattern="/^([a-zA-Z]{2,20})$/" ng-minlength="2" ng-maxlength="20" required>
		<p class="help-block "ng-show="(!checkOutForm.checkOutFormTable.$pristine && checkOutForm.checkOutFormTable.firstName.$error.required) || (checkOutForm.checkOutFormTable.$submitted && checkOutForm.checkOutFormTable.firstName.$error.required)"> This field is required </p>
		<ul ng-show="(!checkOutForm.checkOutFormTable.firstName.$pristine && checkOutForm.checkOutFormTable.firstName.$error.pattern) || (!checkOutForm.checkOutFormTable.firstName.$pristine && checkOutForm.checkOutFormTable.firstName.$error.minlength) || (!checkOutForm.checkOutFormTable.firstName.$pristine && checkOutForm.checkOutFormTable.firstName.$error.maxlength)" class="help-block">
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
            <li>Must be at least 2 characters but no more than 20</li>
        </ul>
	</div>
	<br>
	<!-- <label>First Name:</label>
	<input class="form-control" type="text" name='firstName' placeholder="please enter first name" ng-model="newData.newFirstName" required>
	<br> -->

	<!-- Last Name -->
	<div ng-class="{'has-success': (checkOutForm.checkOutFormTable.lastName.$valid && !checkOutForm.checkOutFormTable.lastName.$pristine),'has-error':((!checkOutForm.checkOutFormTable.lastName.$valid && !checkOutForm.checkOutFormTable.lastName.$pristine) || ((!checkOutForm.checkOutFormTable.lastName.$valid)&& checkOutForm.checkOutFormTable.$submitted)) }">
		<label>Last Name:</label>
		<input class = "form-control" type = "text" name = "lastName" placeholder="please enter last name" ng-model="newData.newLastName" ng-pattern="/^([a-zA-Z]{2,20})$/" ng-minlength="2" ng-maxlength="20" required>
		<p class="help-block "ng-show="(!checkOutForm.checkOutFormTable.$pristine && checkOutForm.checkOutFormTable.lastName.$error.required) || (checkOutForm.checkOutFormTable.$submitted && checkOutForm.checkOutFormTable.lastName.$error.required)"> This field is required </p>
		<ul ng-show="(!checkOutForm.checkOutFormTable.lastName.$pristine && checkOutForm.checkOutFormTable.lastName.$error.pattern) || (!checkOutForm.checkOutFormTable.lastName.$pristine && checkOutForm.checkOutFormTable.lastName.$error.minlength) || (!checkOutForm.checkOutFormTable.lastName.$pristine && checkOutForm.checkOutFormTable.lastName.$error.maxlength)" class="help-block">
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
            <li>Must be at least 2 characters but no more than 20</li>
        </ul>
	</div>
	<br>
	<!-- <label>Last Name:</label>
	<input class="form-control" type="text" name='lastName' placeholder="please enter last name" ng-model="newData.newLastName" required>
	<br> -->

	<!-- Email -->
	<div ng-class="{ 'has-success':(checkOutForm.checkOutFormTable.email.$valid && !checkOutForm.checkOutFormTable.email.$pristine && !register.emailInvalid), 'has-error':(!checkOutForm.checkOutFormTable.email.$valid && !checkOutForm.checkOutFormTable.email.$pristine) || (!checkOutForm.checkOutFormTable.email.$valid && checkOutForm.checkOutFormTable.$submitted)}">
		<label>Email:</label>
		<input class = "form-control" type = "text" name = "email" placeholder="please enter email" ng-model="newData.newEmail" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/" required>
		<p class="help-block" ng-show="(!checkOutForm.checkOutFormTable.$pristine && checkOutForm.checkOutFormTable.email.$error.required) || (checkOutForm.checkOutFormTable.$submitted  && checkOutForm.checkOutFormTable.email.$error.required)"> This field is required </p>
        <ul ng-show="(!checkOutForm.checkOutFormTable.email.$pristine && checkOutForm.checkOutFormTable.email.$error.pattern) || (!checkOutForm.checkOutFormTable.email.$pristine && checkOutForm.checkOutFormTable.email.$error.minlength) || (!checkOutForm.checkOutFormTable.email.$pristine && checkOutForm.checkOutFormTable.email.$error.maxlength)" class="help-block">
            <li>Must contain "@"</li>
            <li>Must not contain any special characters</li>
            <li>Must be at least 3 characters but no more than 40</li>
        </ul>
	</div>
	<br>
	<!-- <label>Email:</label>
	<input class="form-control" type="text" name='email' placeholder="please enter email" ng-model="newData.newEmail" required>
	<br> -->
	
	<!-- Phone Number -->
	<div ng-class="{ 'has-success':(checkOutForm.checkOutFormTable.phoneNumber.$valid && !checkOutForm.checkOutFormTable.phoneNumber.$pristine), 'has-error':(!checkOutForm.checkOutFormTable.phoneNumber.$valid && !checkOutForm.checkOutFormTable.phoneNumber.$pristine) || (!checkOutForm.checkOutFormTable.phoneNumber.$valid && checkOutForm.checkOutFormTable.$submitted)}">
		<label>Phone Number:</label>
		<input class = "form-control" type = "text" name = "phoneNumber" placeholder="please enter phone number in the format xxx-xxx-xxxx" ng-model="newData.newPhoneNumber" ng-pattern="/^[2-9]\d{2}-\d{3}-\d{4}$/" required>
		<p class="help-block" ng-show="(!checkOutForm.checkOutFormTable.$pristine && checkOutForm.checkOutFormTable.phoneNumber.$error.required) || (checkOutForm.checkOutFormTable.$submitted  && checkOutForm.checkOutFormTable.phoneNumber.$error.required)"> This field is required </p>
        <ul ng-show="(!checkOutForm.checkOutFormTable.phoneNumber.$pristine && checkOutForm.checkOutFormTable.phoneNumber.$error.pattern)" class="help-block">
            <li>Must be in format xxx-xxx-xxxx </li>
            <li>Must only contain numbers </li>
            <li>Must be 10 digits long</li>
        </ul>
	</div>
	<br>		
	<!-- <label>Phone Number:</label>
	<input class="form-control" type="text" name='phoneNumber' placeholder="please enter your phone number" ng-model="newData.newPhoneNumber" required>
	<br> -->

	<!-- Title -->
	<div ng-class="{ 'has-success':(checkOutForm.checkOutFormTable.title.$valid && !checkOutForm.checkOutFormTable.title.$pristine), 'has-error':(!checkOutForm.checkOutFormTable.title.$valid && !checkOutForm.checkOutFormTable.title.$pristine) || (!checkOutForm.checkOutFormTable.title.$valid && checkOutForm.checkOutFormTable.$submitted)}">
		<label>Title:</label>
		<input class="form-control" type="text" name='title' placeholder="please enter title" ng-model="newData.newTitle" ng-pattern="/((([a-zA-Z])+[ ]*)+)$/" required>
		<p class="help-block" ng-show="(!checkOutForm.checkOutFormTable.$pristine && checkOutForm.checkOutFormTable.title.$error.required) || (checkOutForm.checkOutFormTable.$submitted  && checkOutForm.checkOutFormTable.title.$error.required)"> This field is required </p>
		<ul ng-show="(!checkOutForm.checkOutFormTable.title.$pristine && checkOutForm.checkOutFormTable.title.$error.pattern)" class="help-block">
           <li>Must not contain any special characters </li>
           <li>Must not contain any numbers</li>
        </ul>
	</div>
	<br>

	<!-- Department -->
	<div ng-class="{ 'has-success':(checkOutForm.checkOutFormTable.department.$valid && !checkOutForm.checkOutFormTable.department.$pristine), 'has-error':(!checkOutForm.checkOutFormTable.department.$valid && !checkOutForm.checkOutFormTable.department.$pristine) || (!checkOutForm.checkOutFormTable.department.$valid && checkOutForm.checkOutFormTable.$submitted)}">
		<label>Department:</label>
		<input class="form-control" type="text" name='department' placeholder="please enter department" ng-model="newData.newDepartment" ng-pattern="/((([a-zA-Z])+[ ]*)+)$/" required>
		<p class="help-block" ng-show="(!checkOutForm.checkOutFormTable.$pristine && checkOutForm.checkOutFormTable.department.$error.required) || (checkOutForm.checkOutFormTable.$submitted  && checkOutForm.checkOutFormTable.department.$error.required)"> This field is required </p>
		<ul ng-show="(!checkOutForm.checkOutFormTable.department.$pristine && checkOutForm.checkOutFormTable.department.$error.pattern)" class="help-block">
           <li>Must not contain any special characters </li>
           <li>Must not contain any numbers</li>
        </ul>
	</div>
	<br>

	<!-- Location -->
	<div ng-class="{ 'has-success':(checkOutForm.checkOutFormTable.location.$valid && !checkOutForm.checkOutFormTable.location.$pristine), 'has-error':(!checkOutForm.checkOutFormTable.location.$valid && !checkOutForm.checkOutFormTable.location.$pristine) || (!checkOutForm.checkOutFormTable.location.$valid && checkOutForm.checkOutFormTable.$submitted)}">
		<label>Location:</label>
		<input class="form-control" type="text" name='location' placeholder="please enter location" ng-model="newData.newLocation" ng-pattern="/((([a-zA-Z])+[ ]*)+)$/" required>
		<p class="help-block" ng-show="(!checkOutForm.checkOutFormTable.$pristine && checkOutForm.checkOutFormTable.location.$error.required) || (checkOutForm.checkOutFormTable.$submitted  && checkOutForm.checkOutFormTable.location.$error.required)"> This field is required </p>
		<ul ng-show="(!checkOutForm.checkOutFormTable.location.$pristine && checkOutForm.checkOutFormTable.location.$error.pattern)" class="help-block">
           <li>Must not contain any special characters </li>
           <li>Must not contain any numbers</li>
        </ul>
	</div>
	<br>

	<!-- Charge Number -->
	<div ng-class="{ 'has-success':(checkOutForm.checkOutFormTable.chargeNumber.$valid && !checkOutForm.checkOutFormTable.chargeNumber.$pristine), 'has-error':(!checkOutForm.checkOutFormTable.chargeNumber.$valid && !checkOutForm.checkOutFormTable.chargeNumber.$pristine) || (!checkOutForm.checkOutFormTable.chargeNumber.$valid && checkOutForm.checkOutFormTable.$submitted)}">
		<label>Charge Number:</label>
		<input class="form-control" type="text" name='chargeNumber' placeholder="please enter charge number" ng-model="newData.newChargeNumber" required>
		<p class="help-block" ng-show="(!checkOutForm.checkOutFormTable.$pristine && checkOutForm.checkOutFormTable.chargeNumber.$error.required) || (checkOutForm.checkOutFormTable.$submitted  && checkOutForm.checkOutFormTable.chargeNumber.$error.required)"> This field is required </p>
	</div>
	<br>

	<!-- Supervisor's First Name -->
	<div ng-class="{'has-success': (checkOutForm.checkOutFormTable.supervisorFirstName.$valid && !checkOutForm.checkOutFormTable.supervisorFirstName.$pristine),'has-error':((!checkOutForm.checkOutFormTable.supervisorFirstName.$valid && !checkOutForm.checkOutFormTable.supervisorFirstName.$pristine) || ((!checkOutForm.checkOutFormTable.supervisorFirstName.$valid)&& checkOutForm.checkOutFormTable.$submitted)) }">
		<label>Supervisor's First Name:</label>
		<input class = "form-control" type = "text" name = "supervisorFirstName" placeholder="please enter supervisor's first name" ng-model="newData.newSupervisorFirstName"  ng-pattern="/^([a-zA-Z]{2,20})$/" ng-minlength="2" ng-maxlength="20" required>
		<p class="help-block "ng-show="(!checkOutForm.checkOutFormTable.$pristine && checkOutForm.checkOutFormTable.supervisorFirstName.$error.required) || (checkOutForm.checkOutFormTable.$submitted && checkOutForm.checkOutFormTable.supervisorFirstName.$error.required)"> This field is required </p>
		<ul ng-show="(!checkOutForm.checkOutFormTable.supervisorFirstName.$pristine && checkOutForm.checkOutFormTable.supervisorFirstName.$error.pattern) || (!checkOutForm.checkOutFormTable.supervisorFirstName.$pristine && checkOutForm.checkOutFormTable.supervisorFirstName.$error.minlength) || (!checkOutForm.checkOutFormTable.supervisorFirstName.$pristine && checkOutForm.checkOutFormTable.supervisorFirstName.$error.maxlength)" class="help-block">
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
            <li>Must be at least 2 characters but no more than 20</li>
        </ul>
	</div>
	<br>
	<!-- <label>Supervisor First Name:</label>
	<input class="form-control" type="text" name='supervisorFirstName' placeholder="please enter supervisor first name" ng-model="newData.newSupervisorFirstName" required>
	<br> -->

	<!-- Supervisor's Last Name -->
	<div ng-class="{'has-success': (checkOutForm.checkOutFormTable.supervisorLastName.$valid && !checkOutForm.checkOutFormTable.supervisorLastName.$pristine),'has-error':((!checkOutForm.checkOutFormTable.supervisorLastName.$valid && !checkOutForm.checkOutFormTable.supervisorLastName.$pristine) || ((!checkOutForm.checkOutFormTable.supervisorLastName.$valid)&& checkOutForm.checkOutFormTable.$submitted)) }">
		<label>Supervisor's Last Name:</label>
		<input class = "form-control" type = "text" name = "supervisorLastName" placeholder="please enter supervisor's first name" ng-model="newData.newSupervisorLastName"  ng-pattern="/^([a-zA-Z]{2,20})$/" ng-minlength="2" ng-maxlength="20" required>
		<p class="help-block "ng-show="(!checkOutForm.checkOutFormTable.$pristine && checkOutForm.checkOutFormTable.supervisorLastName.$error.required) || (checkOutForm.checkOutFormTable.$submitted && checkOutForm.checkOutFormTable.supervisorLastName.$error.required)"> This field is required </p>
		<ul ng-show="(!checkOutForm.checkOutFormTable.supervisorLastName.$pristine && checkOutForm.checkOutFormTable.supervisorLastName.$error.pattern) || (!checkOutForm.checkOutFormTable.supervisorLastName.$pristine && checkOutForm.checkOutFormTable.supervisorLastName.$error.minlength) || (!checkOutForm.checkOutFormTable.supervisorLastName.$pristine && checkOutForm.checkOutFormTable.supervisorLastName.$error.maxlength)" class="help-block">
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
            <li>Must be at least 2 characters but no more than 20</li>
        </ul>
	</div>
	<br>
	<!-- <label>Supervisor Last Name:</label>
	<input class="form-control" type="text" name='supervisorLastName' placeholder="please enter supervisor last name" ng-model="newData.newSupervisorLastName" required>
	<br> -->

	<!-- Supervisor's Email -->
	<div ng-class="{ 'has-success':(checkOutForm.checkOutFormTable.supEmail.$valid && !checkOutForm.checkOutFormTable.supEmail.$pristine && !register.emailInvalid), 'has-error':(!checkOutForm.checkOutFormTable.supEmail.$valid && !checkOutForm.checkOutFormTable.supEmail.$pristine) || (!checkOutForm.checkOutFormTable.supEmail.$valid && checkOutForm.checkOutFormTable.$submitted) }">
		<label>Email:</label>
		<input class = "form-control" type = "text" name = "supEmail" placeholder="please enter supervisor's email" ng-model="newData.newSupervisorEmail" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/" required>
		<p class="help-block" ng-show="(!checkOutForm.checkOutFormTable.$pristine && checkOutForm.checkOutFormTable.supEmail.$error.required) || (checkOutForm.checkOutFormTable.$submitted  && checkOutForm.checkOutFormTable.supEmail.$error.required)"> This field is required </p>
        <ul ng-show="(!checkOutForm.checkOutFormTable.email.$pristine && checkOutForm.checkOutFormTable.supEmail.$error.pattern) || (!checkOutForm.checkOutFormTable.supEmail.$pristine && checkOutForm.checkOutFormTable.supEmail.$error.minlength) || (!checkOutForm.checkOutFormTable.supEmail.$pristine && checkOutForm.checkOutFormTable.supEmail.$error.maxlength)" class="help-block">
            <li>Must contain "@"</li>
            <li>Must not contain any special characters</li>
            <li>Must be at least 3 characters but no more than 40</li>
        </ul>
	</div>
	<br>
	<!-- <label>Supervisor Email:</label>
	<input class="form-control" type="text" name='supervisorEmail' placeholder="please enter supervisor email" ng-model="newData.newSupervisorEmail" required>
	<br> -->

	<!-- Supervisor's Phone Number -->
	<div ng-class="{ 'has-success':(checkOutForm.checkOutFormTable.supervisorPhoneNumber.$valid && !checkOutForm.checkOutFormTable.supervisorPhoneNumber.$pristine), 'has-error':(!checkOutForm.checkOutFormTable.supervisorPhoneNumber.$valid && !checkOutForm.checkOutFormTable.supervisorPhoneNumber.$pristine) || (!checkOutForm.checkOutFormTable.supervisorPhoneNumber.$valid && checkOutForm.checkOutFormTable.$submitted)}">
		<label>Supervisor's Phone Number:</label>
		<input class = "form-control" type = "text" name = "supervisorPhoneNumber" placeholder="please enter supervisor's phone number in the format xxx-xxx-xxxx" ng-model="newData.newSupervisorPhoneNumber" ng-pattern="/^[2-9]\d{2}-\d{3}-\d{4}$/" required>
		<p class="help-block" ng-show="(!checkOutForm.checkOutFormTable.$pristine && checkOutForm.checkOutFormTable.supervisorPhoneNumber.$error.required) || (checkOutForm.checkOutFormTable.$submitted  && checkOutForm.checkOutFormTable.supervisorPhoneNumber.$error.required)"> This field is required </p>
        <ul ng-show="(!checkOutForm.checkOutFormTable.supervisorPhoneNumber.$pristine && checkOutForm.checkOutFormTable.supervisorPhoneNumber.$error.pattern)" class="help-block">
            <li>Must be in format xxx-xxx-xxxx </li>
            <li>Must only contain numbers </li>
            <li>Must be 10 digits long</li>
        </ul>
	</div>
	<br>
	<!-- <label>Supervisor Phone Number:</label>
	<input class="form-control" type="text" name='supervisorPhoneNumber' placeholder="please enter supervisor phone number" ng-model="newData.newSupervisorPhoneNumber" required>
	<br> -->

	< <span> {{ checkOutForm.checkOutFormTable}}</span> 

	<button class="btn btn-primary" type="submit">Submit</button>
</form>

<br>


<div class = "jumbotron text-center" ng-show = "checkOutForm.loading">
	<span class = "glyphicon glyphicon-repeat spinner"></span>
	<p>Loading....</p>
</div>



<div class = "row show-hide-message" ng-show = "checkOutForm.successMsg">
	<div class = "alert alert-success">{{ checkOutForm.successMsg }}</div>
</div>

<br>

<div class = "row show-hide-message" ng-show = "checkOutForm.errorMsg">
	<div class = "alert alert-danger">{{ checkOutForm.errorMsg }}</div>
</div> 
