<div class="page-header">
<h1>Please Enter your information</h1>
</div>

<form name ="checkOutForm" ng-submit="checkOutForm.checkOutForm(newData);" novalidate>
	<!-- First Name -->
	<div ng-class="{'has-success': (checkOutForm.firstName.$valid && !checkOutForm.firstName.$pristine),'has-error':((!checkOutForm.firstName.$valid && !checkOutForm.firstName.$pristine) || ((!checkOutForm.firstName.$valid)&& checkOutForm.$submitted)) }">
		<label>First Name:</label>
		<input class = "form-control" type = "text" name = "firstName" placeholder="please enter first name" ng-model="newData.newFirstName" ng-pattern="/^([a-zA-Z]{3,20})$/" ng-minlength="2" ng-maxlength="20" required>
		<p class="help-block "ng-show="(!checkOutForm.$pristine && checkOutForm.firstName.$error.required) || (checkOutForm.$submitted && checkOutForm.firstName.$error.required)"> This field is required </p>
		<ul ng-show="(!checkOutForm.firstName.$pristine && checkOutForm.firstName.$error.pattern) || (!checkOutForm.firstName.$pristine && checkOutForm.firstName.$error.minlength) || (!checkOutForm.firstName.$pristine && checkOutForm.firstName.$error.maxlength)" class="help-block">
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
            <li>Must be at least 2 characters but no more than 20</li>
        </ul>
	</div>
	<br>
	<!-- <label>First Name:</label>
	<input class="form-control" type="text" name='firstName' placeholder="please enter first name" ng-model="newData.newFirstName" required>
	<br> -->

	<!-- Last Name -->
	<div ng-class="{'has-success': (checkOutForm.lastName.$valid && !checkOutForm.lastName.$pristine),'has-error':((!checkOutForm.lastName.$valid && !checkOutForm.lastName.$pristine) || ((!checkOutForm.lastName.$valid)&& checkOutForm.$submitted)) }">
		<label>Last Name:</label>
		<input class = "form-control" type = "text" name = "lastName" placeholder="please enter last name" ng-model="newData.newLastName" ng-pattern="/^([a-zA-Z]{2,20})$/" ng-minlength="2" ng-maxlength="20" required>
		<p class="help-block "ng-show="(!checkOutForm.$pristine && checkOutForm.lastName.$error.required) || (checkOutForm.$submitted && checkOutForm.lastName.$error.required)"> This field is required </p>
		<ul ng-show="(!checkOutForm.lastName.$pristine && checkOutForm.lastName.$error.pattern) || (!checkOutForm.lastName.$pristine && checkOutForm.lastName.$error.minlength) || (!checkOutForm.lastName.$pristine && checkOutForm.lastName.$error.maxlength)" class="help-block">
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
            <li>Must be at least 2 characters but no more than 20</li>
        </ul>
	</div>
	<br>
	<!-- <label>Last Name:</label>
	<input class="form-control" type="text" name='lastName' placeholder="please enter last name" ng-model="newData.newLastName" required>
	<br> -->

	<label>Email:</label>
	<input class="form-control" type="text" name='email' placeholder="please enter email" ng-model="newData.newEmail" required>
	<br>
			
	<label>Phone Number:</label>
	<input class="form-control" type="text" name='phoneNumber' placeholder="please enter your phone number" ng-model="newData.newPhoneNumber" required>
	<br>

	<label>Title:</label>
	<input class="form-control" type="text" name='title' placeholder="please enter title" ng-model="newData.newTitle" required>
	<br>

	<label>Department:</label>
	<input class="form-control" type="text" name='department' placeholder="please enter department" ng-model="newData.newDepartment" required>
	<br>

	<label>Location:</label>
	<input class="form-control" type="text" name='location' placeholder="please enter location" ng-model="newData.newLocation" required>
	<br>

	<label>Charge Number:</label>
	<input class="form-control" type="text" name='chargeNumber' placeholder="please enter charge number" ng-model="newData.newChargeNumber" required>
	<br>

	<label>Supervisor First Name:</label>
	<input class="form-control" type="text" name='supervisorFirstName' placeholder="please enter supervisor first name" ng-model="newData.newSupervisorFirstName" required>
	<br>

	<label>Supervisor Last Name:</label>
	<input class="form-control" type="text" name='supervisorLastName' placeholder="please enter supervisor last name" ng-model="newData.newSupervisorLastName" required>
	<br>

	<label>Supervisor Email:</label>
	<input class="form-control" type="text" name='supervisorEmail' placeholder="please enter supervisor email" ng-model="newData.newSupervisorEmail" required>
	<br>

	<label>Supervisor Phone Number:</label>
	<input class="form-control" type="text" name='supervisorPhoneNumber' placeholder="please enter supervisor phone number" ng-model="newData.newSupervisorPhoneNumber" required>
	<br>



	<button class="btn btn-primary" type="submit">Submit</button>
</form>

<br>


<div class = "jumbotron text-center" ng-show = "checkOutForm.loading">
	<span class = "glyphicon glyphicon-repeat spinner"></span>
	<p>Loading....</p>
</div>



<div class = "row show-hide-message" ng-show = "checkOutForm.successMsg">
	<div class = "alert alert-success">{{ checkOutForm.successMsg }}</div>
</div>

<br>

<div class = "row show-hide-message" ng-show = "checkOutForm.errorMsg">
	<div class = "alert alert-danger">{{ checkOutForm.errorMsg }}</div>
</div> 
