<div class="page-header">
<h1>Check Out Inventory</h1>
</div>

<form ng-submit="checkOut.checkOut(checkOut.barcode);">
	<!-- Bar Code -->
	<label>Bar Code:</label>
	<input class="form-control" type="text" name='barcode' placeholder="please scan an item" ng-model="checkOut.barcode" focus="true">
	<br>

	<button class="btn btn-primary" type="submit">Submit</button>
</form>

<br>

<div class = "jumbotron text-center" ng-show = "checkOut.loading">
	<span class = "glyphicon glyphicon-repeat spinner"></span>
	<p>Loading....</p>
</div>



<div class = "row show-hide-message" ng-show = "checkOut.successMsg">
	<div class = "alert alert-success">{{ checkOut.successMsg }}</div>
</div>

<br>

<div class = "row show-hide-message" ng-show = "checkOut.errorMsg">
	<div class = "alert alert-danger">{{ checkOut.errorMsg }}</div>
</div> 
