<div class "page-header">
	 <div class="jumbotron">
        <h2>Equipment and Inventory Tracker</h2>
    </div>
    <img src="http://i.imgur.com/4wAvIMg.png" width="99.9%"/>

  <h2> Hello {{ main.username }}</h2>
  <br>
  <h2>ABOUT</h2>
  <p>
  <font size="4">
  Welcome to the Equipment and Inventory Tracker for the UC Davis Ergonomics Lab! This website employs a tracking system for equipment check-ins and check-outs made by various UC Davis departments, maintains their statistics and monthly history, and allows system administrators to add, edit, and delete information regarding inventory and the number of registered users. See below for details of each section.
  </font>
  </p>
  <br>

  <h2>INVENTORY</h2>
  <p>
  <font size="4">
  <b>Checking In</b>
  <br>
  To return equipment that was previously checked out from inventory, the user must either scan or enter the 10-digit bar code of an item.
  <br>
  <br>
  <b>Checking Out</b>
  <br>
  To rent equipment, the user must either scan or enter the 10-digit bar code of an item that is currently available in inventory. The user will then be redirected to a page where he/she must fill out specific information that will be recorded in the system.
  </font>
  </p>
  <br>

  <h2>STATISTICS</h2>
  <p>
  <font size="4">
  <b>History</b>
  <br>
  Equipment that was checked in, checked out, added to, and deleted from inventory is shown here. Information regarding the date, person, and department performing each action is also provided.
  <br>
  <br>

  <b>Search</b>
  <br>
  The user can perform a general or advanced search based on the system's history. The advanced search allows the application of filters according to first name, last name, email, department, product, and/or bar code.
  <br>
  <br>

  <b>Graphs</b>
  <br>
  Graphs pertaining to the number of monthly check-ins, check-outs, and by which departments are kept here. There are also links to downloadable CSV files that provide such information.
  </font>
  </p>
  <br>

  <h2>APPS</h2>
  <p>
  <font size="4">
  <b>Bar Code Generator</b>
  <br>
  A bar code can be generated randomly for a piece of equipment. Once generated, the user can save its image in his/her local device.
  <br>
  <br>
  <b>Battery Management</b>
  <br>
  Information regarding items that are currently checked out, by who, and for how long is displayed here. Each item has a battery image associated with it to give the user an idea of how soon it must be returned.
  </font>
  </p>
  <br>

  <li ng-show="main.isLoggedIn && main.authorized">
  <h2>MANAGEMENT</h2>
  <p>
  <font size="4">
  <b>Inventory Add</b>
  <br>
  Administrators can add to the current inventory with the name of the product and its bar code, which can either be scanned or entered as 10 digits.
  <br>
  <br>
  <b>Inventory Edit/Delete</b>
  <br>
  Administrators can modify information of items checked in or checked out as well as delete items from the current inventory.
  <br>
  <br>
  <b>User Register</b>
  <br>
  Users can be registered when providing their full name, email, username, and password.
  <br>
  <br>
  <b>User Edit/Delete</b>
  <br>
  Administrators can modify user information and delete users from the system.
  </li>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
