<div class="page-header"> 
	<h2> Graphs</h2>
</div>
<br>


<!-- <div class="container"> 
  <a href="/graph2">Date vs Checkins by Month</a> 
  <a href="/graph2" target="_parent" id="code" type="submit" class="btn btn-success" style="width:400px;"></span> Date vs Checkins by Month</a>
</div>
<div class="page-header"> 
  <a href="/graph3">Date vs Checkouts by Month</a> 
<a href="/graph3" target="_blank" id="code" type="submit" class="btn btn-success" style="width:400px;"></span> Date vs Checkins by Month</a>
</div>
 -->
<div>
	<div class="uctable"> Date vs Checkins by Month</div>
 	<iframe name="iframe1" src="/graph2" align="top" height="350" width="100%" hspace="10" vspace="10" align="middle" style="border:none;"></iframe>
 	<div class="uctable"> Date vs Checkouts by Month</div>
 	<iframe name="iframe1" src="/graph3" align="top" height="350" width="100%" hspace="10" vspace="10" align="middle" style="border:none;"></iframe>
<div>
