<div class="page-header">
	<h1>History</h1>
</div>

<div class="panel panel-success">
	<div class="panel-heading">History Log of Items</div>
	<table class=table>
		<thead>
			<tr>
				<th>First Name:</th>
				<th>Last Name:</th>
				<th>Email:</th>
				<th>Product:</th>
				<th>Bar Code:</th>
				<th>Last Checked In:</th>
				<th>Last Checked Out:</th>
			</tr>
		</thead>
		<tbody ng-repeat="inventory in inventoryData | pagination: (currentPage - 1) * pageSize | limitTo: pageSize">
			<tr>
				<td>{{ inventory.firstName }}</td>
				<td>{{ inventory.lastName }}</td>
				<td>{{ inventory.email }}</td>
				<td>{{ inventory.product }}</td>
				<td>{{ inventory.barcode }}</td>
				<td>{{ inventory.dateCheckedIn | date: 'medium'}}</td>
				<td>{{ inventory.dateCheckedOut | date: 'medium'}}</td>
			</tr>
		</tbody>
	</table>
</div>		


<ul uib-pagination total-items="inventoryData.length" items-per-page="pageSize" ng-model="currentPage"></ul>
