<div class="page-header">
    <h2>Battery Manager</h2>
</div>
<div class="panel panel-primary">
    <!-- Heading -->
    <div class="panel-heading">
        <strong>Inventory</strong>
    </div>
    <!-- Start: Table -->
    <table class="table table-condensed">
    	<thead>
	        <tr>
	            <th>Product:</th>
	            <th>Bar Code:</th>
	            <th>Battery Life:</th>
	        </tr>
        </thead>
        <tbody ng-repeat="inventory in battery.inventoryforms" ng-if="inventory.isDeleted==='false'">
	        <tr>
	            <td>{{ inventory.product }}</td>
	            <td>{{ inventory.barcode }}</td>
                <td ng-if="(inventory.batteryTotalTime/inventory.batteryLifeTime) >= 1"><img src="assets/pictures/battery/red.png" style="width:25px;height:36px;"></td>
                <td ng-if="(inventory.batteryTotalTime/inventory.batteryLifeTime) >= 0.66 && (inventory.batteryTotalTime/inventory.batteryLifeTime) < 1"><img src="assets/pictures/battery/orange.png" style="width:25px;height:36px;"></td>
                <td ng-if="(inventory.batteryTotalTime/inventory.batteryLifeTime) >= 0.33 && (inventory.batteryTotalTime/inventory.batteryLifeTime) < 0.66"><img src="assets/pictures/battery/yellow.png" style="width:25px;height:36px;"></td>
                <td ng-if="(inventory.batteryTotalTime/inventory.batteryLifeTime) >= 0.00 && (inventory.batteryTotalTime/inventory.batteryLifeTime) < 0.33"><img src="assets/pictures/battery/green.png" style="width:25px;height:36px;"></td>
            </tr>
	    </tbody>    
        <!-- End: Table -->
    </table>
</div>