<div class="page-header"> 
	<h1> User Registration</h1>
</div>

<form name="regForm" ng-submit = "register.regUser();" novalidate>
	<div ng-class="{'has-success': (regForm.name.$valid && !regForm.name.$pristine),'has-error':((!regForm.name.$valid && !regForm.name.$pristine) || ((!regForm.name.$valid)&& regForm.$submitted)) }">
		<!-- Name -->
		<label>Name:</label>
		<input class = "form-control" type = "text" name = "name" placeholder="please enter name" ng-model = "register.regData.name" ng-pattern="/^(([a-zA-Z]{3,20})+[ ]+([a-zA-Z]{3,20})+)+$/" ng-minlength="3" ng-maxlength="20" required>
		<p class="help-block "ng-show="(!regForm.$pristine && regForm.name.$error.required) || (regForm.$submitted && regForm.name.$error.required)"> This field is required </p>
		<ul ng-show="(!regForm.name.$pristine && regForm.name.$error.pattern) || (!regForm.name.$pristine && regForm.name.$error.minlength) || (!regForm.name.$pristine && regForm.name.$error.maxlength)" class="help-block">
            <li>Must have a space in between first and last firstName</li>
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
            <li>Must be at least 3 characters but no more than 20</li>
        </ul>
		<br>
	</div>

	<!-- Email -->
	<label>Email:</label>
	<input class = "form-control" type = "text" name = "email" placeholder="please enter email" ng-model = "register.regData.email">
	<br>
	<!-- Username -->
	<label>Username:</label>
	<input class = "form-control" type = "text" name = "username" placeholder="please enter username" ng-model = "register.regData.username">
	<br>
	<!-- Password -->
	<label>Password:</label>
	<input class = "form-control" type = "password" name = "password" placeholder="please enter password" ng-model = "register.regData.password">
	<br>

	<!-- Password confirmation -->
	<label>Re-enter Password:</label>
	<input class = "form-control" type = "password" name = "repassword" placeholder="please re-enter password" ng-model = "register.regData.repassword">
	<br>

	<button class = "btn btn-primary" type = "submit">Register</button>

</form>

<span> {{ regForm}}</span>
<br>

<div class = "jumbotron text-center" ng-show = "register.loading">
	<span class = "glyphicon glyphicon-repeat spinner"></span>
	<p>Loading....</p>
</div>


<br>

<div class = "row show-hide-message" ng-show = "register.successMsg">
	<div class = "alert alert-success">{{ register.successMsg }}</div>
</div>

<br>

<div class = "row show-hide-message" ng-show = "register.errorMsg">
	<div class = "alert alert-danger">{{ register.errorMsg }}</div>
</div> 


