<div class="page-header"> 
	<h1>Edit Inventory</h1>
</div>

<br>

<ul class="nav nav-tabs">
    <li role="presentation" ng-click="editInventory.firstNamePhase();" ng-class="firstNameTab"><a href="">First Name</a></li>
    <li role="presentation" ng-click="editInventory.lastNamePhase();" ng-class="lastNameTab"><a href="">Last Name</a></li>
    <li role="presentation" ng-click="editInventory.emailPhase();" ng-class="emailTab"><a href="">Email</a></lir>
    <li role="presentation" ng-click="editInventory.productPhase();" ng-class="productTab"><a href="">Product</a></li>
    <li role="presentation" ng-click="editInventory.barcodePhase();" ng-class="barcodeTab"><a href="">Bar Code</a></li>
    <li role="presentation" ng-click="editInventory.isCheckedInPhase();" ng-class="isCheckedInTab"><a href="">Is Checked In</a></li>

</ul>

<!-- Phase One: First Name -->
<form name ="editInventory.firstNameForm" ng-submit="editInventory.updateFirstName(newFirstName)" ng-show="editInventory.phase1">
	<!-- First Name -->
	<div ng-class="{'has-success': (editInventory.firstNameForm.firstName.$valid && !editInventory.firstNameForm.firstName.$pristine),'has-error':((!editInventory.firstNameForm.firstName.$valid && !editInventory.firstNameForm.firstName.$pristine) || ((!editInventory.firstNameForm.firstName.$valid)&& editInventory.firstNameForm.$submitted)) }">
		<label>Current First Name:</label>
		<input class = "form-control" type = "text" name = "firstName" placeholder="please enter first name" ng-model="newFirstName" ng-pattern="/^([a-zA-Z]{2,20})$/" ng-minlength="2" ng-maxlength="20" required>
		<p class="help-block "ng-show="(!editInventory.firstNameForm.$pristine && editInventory.firstNameForm.firstName.$error.required) || (editInventory.firstNameForm.$submitted && editInventory.firstNameForm.firstName.$error.required)"> This field is required </p>
		<ul ng-show="(!editInventory.firstNameForm.firstName.$pristine && editInventory.firstNameForm.firstName.$error.pattern) || (!editInventory.firstNameForm.firstName.$pristine && editInventory.firstNameForm.firstName.$error.minlength) || (!editInventory.firstNameForm.firstName.$pristine && editInventory.firstNameForm.firstName.$error.maxlength)" class="help-block">
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
            <li>Must be at least 2 characters but no more than 20</li>
        </ul>
	</div>
	<br>
	<!-- <label>Current First Name:</label>
	<input class = "form-control" type = "text" name = "firstName" placeholder="please enter a first name" ng-model = "newFirstName">
	<br> -->
	
	<button class = "btn btn-primary" type = "submit">Update</button>
	
	<br>
</form>

<!-- Phase Two: Last Name -->
<form name ="editInventory.lastNameForm" ng-submit="editInventory.updateLastName(newLastName)" ng-show="editInventory.phase2">
	<!-- Last Name -->
	<div ng-class="{'has-success': (editInventory.lastNameForm.lastName.$valid && !editInventory.lastNameForm.lastName.$pristine),'has-error':((!editInventory.lastNameForm.lastName.$valid && !editInventory.lastNameForm.lastName.$pristine) || ((!editInventory.lastNameForm.lastName.$valid)&& editInventory.lastNameForm.$submitted)) }">
		<label>Last Name:</label>
		<input class = "form-control" type = "text" name = "lastName" placeholder="please enter last name" ng-model="newLastName" ng-pattern="/^([a-zA-Z]{2,20})$/" ng-minlength="2" ng-maxlength="20" required>
		<p class="help-block "ng-show="(!editInventory.lastNameForm.$pristine && editInventory.lastNameForm.lastName.$error.required) || (editInventory.lastNameForm.$submitted && editInventory.lastNameForm.lastName.$error.required)"> This field is required </p>
		<ul ng-show="(!editInventory.lastNameForm.lastName.$pristine && editInventory.lastNameForm.lastName.$error.pattern) || (!editInventory.lastNameForm.lastName.$pristine && editInventory.lastNameForm.lastName.$error.minlength) || (!editInventory.lastNameForm.lastName.$pristine && editInventory.lastNameForm.lastName.$error.maxlength)" class="help-block">
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
            <li>Must be at least 2 characters but no more than 20</li>
        </ul>
	</div>
	<br>
	<!-- <label>Current Last Name:</label>
	<input class = "form-control" type = "text" name = "lastName" placeholder="please enter a last name" ng-model = "newLastName">
	<br>
	 -->
	<button class = "btn btn-primary" type = "submit">Update</button>
	
	<br>
</form>

<!-- Phase Three: Email -->
<form name ="editInventory.emailForm" ng-submit="editInventory.updateEmail(newEmail)" ng-show="editInventory.phase3">
	<div ng-class="{ 'has-success':(editInventory.emailForm.email.$valid && !editInventory.emailForm.email.$pristine && !register.emailInvalid), 'has-error':(!editInventory.emailForm.email.$valid && !editInventory.emailForm.email.$pristine) || (!editInventory.emailForm.email.$valid && editInventory.emailForm.$submitted)}">
		<label>Email:</label>
		<input class = "form-control" type = "text" name = "email" placeholder="please enter email" ng-model="newEmail" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/" required>
		<p class="help-block" ng-show="(!editInventory.emailForm.$pristine && editInventory.emailForm.email.$error.required) || (editInventory.emailForm.$submitted  && editInventory.emailForm.email.$error.required)"> This field is required </p>
        <ul ng-show="(!editInventory.emailForm.email.$pristine && editInventory.emailForm.email.$error.pattern) || (!editInventory.emailForm.email.$pristine && editInventory.emailForm.email.$error.minlength) || (!editInventory.emailForm.email.$pristine && editInventory.emailForm.email.$error.maxlength)" class="help-block">
            <li>Must contain "@"</li>
            <li>Must not contain any special characters</li>
            <li>Must be at least 3 characters but no more than 40</li>
        </ul>
	</div>
	<br>

	<!-- <label>Current Email:</label>
	<input class = "form-control" type = "text" name = "email" placeholder="please enter an email" ng-model = "newEmail">
	<br> -->
	
	<button class = "btn btn-primary" type = "submit">Update</button>
	
	<br>
</form>

<!-- Phase Four: Product -->
<form name ="editInventory.productForm" ng-submit="editInventory.updateProduct(newProduct)" ng-show="editInventory.phase4">
	<!-- Product -->
	<div ng-class="{'has-success': (editInventory.productForm.product.$valid && !editInventory.productForm.product.$pristine),'has-error':((!editInventory.productForm.product.$valid && !editInventory.productForm.product.$pristine) || ((!editInventory.productForm.product.$valid)&& editInventory.productForm.$submitted)) }">
		<label>Product:</label>
		<input class = "form-control" type = "text" name = "product" placeholder="please enter product name" ng-model="newProduct" id="bcode" ng-pattern="/^((([a-zA-Z])+[ ]*)+)$/" required>
		<p class="help-block "ng-show="(!editInventory.productForm.$pristine && editInventory.productForm.product.$error.required) || (editInventory.productForm.$submitted && editInventory.productForm.product.$error.required)"> This field is required </p>
		<ul ng-show="(!editInventory.productForm.product.$pristine && editInventory.productForm.product.$error.pattern)" class="help-block">
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
        </ul>
	</div>
	<br>
	<!-- <label>Current Product:</label>
	<input class = "form-control" type = "text" name = "product" placeholder="please enter a product" ng-model = "newProduct">
	<br> -->
	
	<button class = "btn btn-primary" type = "submit">Update</button>
	
	<br>
</form>

<!-- Phase Five: Barcode -->
<form name ="editInventory.barcodeForm" ng-submit="editInventory.updateBarcode(newBarcode)" ng-show="editInventory.phase5">
	<!-- Bar Code -->
	<div ng-class="{'has-success': (editInventory.barcodeForm.barcode.$valid && !editInventory.barcodeForm.barcode.$pristine),'has-error':((!editInventory.barcodeForm.barcode.$valid && !editInventory.barcodeForm.barcode.$pristine) || ((!editInventory.barcodeForm.barcode.$valid)&& editInventory.barcodeForm.$submitted)) }">
		<label>Bar Code:</label>
		<input class = "form-control" type = "text" name = "barcode" placeholder="please scan an item or enter a 10-digit barcode" ng-model="newBarcode" id="bcode" ng-pattern="/^[0-9]{10}/" ng-minlength="10" ng-maxlength="10" focus="true" required>
		<p class="help-block "ng-show="(!editInventory.barcodeForm.$pristine && editInventory.barcodeForm.barcode.$error.required) || (editInventory.barcodeForm.$submitted && editInventory.barcodeForm.barcode.$error.required)"> This field is required </p>
		<ul ng-show="(!editInventory.barcodeForm.barcode.$pristine && editInventory.barcodeForm.barcode.$error.pattern) || (!editInventory.barcodeForm.barcode.$pristine && editInventory.barcodeForm.barcode.$error.minlength) || (!editInventory.barcodeForm.barcode.$pristine && editInventory.barcodeForm.barcode.$error.maxlength)" class="help-block">
            <li>Must be exactly 10 digits long</li>
            <li>Must not contain any special characters</li>
        </ul>
	</div>
	<br>
	<!-- <label>Current Bar Code:</label>
	<input class = "form-control" type = "text" name = "barcode" placeholder="please enter or scan a barcode" ng-model = "newBarcode">
	<br> -->
	
	<button class = "btn btn-primary" type = "submit">Update</button>
	
	<br>
</form>

<!-- Phase Six: Is Checked In -->
<form name ="editInventory.isCheckedInForm" ng-submit="editInventory.updateIsCheckedIn(newIsCheckedIn)" ng-show="editInventory.phase6">
	<div ng-class="{ 'has-success':(editInventory.isCheckedInForm.isCheckedIn.$valid && !editInventory.isCheckedInForm.isCheckedIn.$pristine), 'has-error':(!editInventory.isCheckedInForm.isCheckedIn.$valid && !editInventory.isCheckedInForm.isCheckedIn.$pristine) || (!editInventory.isCheckedInForm.isCheckedIn.$valid && editInventory.isCheckedInForm.$submitted)}">
		<label>Current Is Checked In:</label>
		<input class = "form-control" type = "text" name = "isCheckedIn" placeholder="true: checked in, false: checked out" ng-model="newIsCheckedIn" ng-pattern="/^(true|false)$/" required>
		<p class="help-block" ng-show="(!editInventory.isCheckedInForm.$pristine && editInventory.isCheckedInForm.isCheckedIn.$error.required) || (editInventory.isCheckedInForm.$submitted  && editInventory.isCheckedInForm.isCheckedIn.$error.required)"> This field is required </p>
		<ul ng-show="(!editInventory.isCheckedInForm.isCheckedIn.$pristine && editInventory.isCheckedInForm.isCheckedIn.$error.pattern)" class="help-block">
            <li>Must be only true or false </li>
        </ul>
	</div>
	<br>
	
	<button class = "btn btn-primary" type = "submit">Update</button>
	
	<br>
</form>




<div class = "row show-hide-message" ng-show = "editInventory.successMsg">
	<div class = "alert alert-success">{{ editInventory.successMsg }}</div>
</div>

<br>

<div class = "row show-hide-message" ng-show = "editInventory.errorMsg">
	<div class = "alert alert-danger">{{ editInventory.errorMsg }}</div>
</div> 
