<!-- Header -->
<div class="page-header">
    <h2>Inventory Management</h2>
</div>
<!-- Header -->

<!-- <br>
 -->
<!-- Loading Icon (Bootstrap) -->
<!-- <div class="jumbotron text-center" ng-show="inventoryManagement.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div> -->
<!-- Loading Icon (Bootstrap) -->

<!-- <br> -->

<!-- Apply Button Filter -->
<!-- <button type="button" ng-click="inventoryManagement.showMore(number);" class="btn btn-success">Apply Filter</button> -->

<!--/ Show All Button -->
<!-- <button type="button" ng-click="inventoryManagement.showAll();" class="btn btn-warning">Show All</button>
 -->


<!-- Input For Filter  -->
<!-- <div class="showmore">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon">Results to display:</span>
            <input type="text" class="form-control" ng-model="number">
        </div>
    </div>
</div> -->
<!-- Input For Filter  -->
<!-- <br>
<br> -->

<!-- <div class="row show-hide-message" ng-show="inventoryManagement.showMoreError">
    <div class="alert alert-danger">{{ inventoryManagement.showMoreError }}</div>
</div> -->

<!-- User Management Table -->
<div class="panel panel-success" >
    <!-- Heading -->
    <div class="panel-heading">Inventory</div>
    <!-- Start: Table -->
    <table class="table table-bordered" style="font-size: 12px">
    	<thead>
	        <tr>
	            <th>First Name:</th>
	            <th>Last Name:</th>
	            <th>Email:</th>
                <th>Phone Number:</th>
                <th>Supervisor First Name:</th>
                <th>Supervisor Last Name:</th>
                <th>Supervisor Email:</th>
                <th>Supervisor Phone Number:</th>
                <th>Title:</th> 
                <th>Department:</th>
                <th>Location:</th>
                <th>Charge Number:</th>
	            <th>Product:</th>
	            <th>Bar Code:</th>
	            <th>Is Checked In:</th>
	        </tr>
        </thead>
        <tbody ng-repeat="inventory in inventoryManagement.inventoryforms | pagination: (inventoryManagement.currentPage -1) * inventoryManagement.pageSize | limitTo: inventoryManagement.pageSize" ng-if="inventory.isDeleted==='false'">
	        <tr>
	            <td>{{ inventory.firstName }}</td>
	            <td>{{ inventory.lastName }}</td>
                <td>{{ inventory.email }}</td>
                <td>{{ inventory.phoneNumber }}</td>
                <td>{{ inventory.supervisorFirstName }}</td>
                <td>{{ inventory.supervisorLastName }}</td>
                <td>{{ inventory.supervisorEmail }}</td>
                <td>{{ inventory.supervisorPhoneNumber }}</td>
                <td>{{ inventory.title }}</td>
                <td>{{ inventory.department }}</td>
                <td>{{ inventory.location }}</td>
                <td>{{ inventory.chargeNumber }}</td>
	            <td>{{ inventory.product }}</td>
	            <td>{{ inventory.barcode }}</td>
                <td>{{ inventory.isCheckedIn }}</td>
	            <td>
	                <a href="#editInventory/{{ inventory._id }}">
	                    <button type="button"  ng-show="inventoryManagement.editAccess" class="btn btn-primary">Edit</button>
	                </a>
	                <!-- <button type="button" ng-click="inventoryManagement.deleteInventory(inventory.barcode);" ng-show="inventoryManagement.deleteAccess" class="btn btn-danger">Delete</button> -->
                    <button type="button" ng-click="inventoryManagement.deleteInventory(inventory.barcode);" confirm="Are you sure to delete the item?" confirm-title="Please verify?" confirm-ok="Yes" confirm-cancel="No"ng-show="inventoryManagement.deleteAccess" class="btn btn-danger">Delete</button> 
	            </td>
	        </tr>
	    </tbody>    
        <!-- End: Table -->
    </table>
</div>




<ul uib-pagination total-items="inventoryManagement.inventoryforms.length" items-per-page="inventoryManagement.pageSize" ng-model="inventoryManagement.currentPage"></ul>
<!-- User Management Table -->

<br>
<br>

<!-- Custom Error Message -->
<div class="row show-hide-message" ng-show="inventoryManagement.showMoreError">
    <div class="alert alert-danger">{{ inventoryManagement.showMoreError }}</div>
</div>
<!-- Custom Error Message -->

<!-- Apply Button Filter -->
<button type="button" class="btn btn-success">Apply Filter</button>

<!--/ Show All Button -->
<button type="button" class="btn btn-warning">Show All</button>

<!-- Input For Filter  -->
<div class="showmore">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon">Results to display:</span>
            <input type="text" class="form-control" ng-model="number">
        </div>
    </div>
</div>
<!-- Input For Filter  -->

<br>
<br>
